* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #ED8975;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
h1 {
    font-size: 2.3rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }
  
  p {
    font-size: 1rem;
  }

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      "Image1 Image2 Image3"
      "Text1 Text2 Text3"
      "Image4 Image5 Image6"
      "Text4 Text5 Text6"
      "Image7 Image8 Image9"
      "Text7 Text8 Text9"
      ". Under8 ."
      "Footer Footer Footer";
  }
  
  .Image1 { grid-area: Image1; }
  
  .Image2 { grid-area: Image2; }
  
  .Image3 { grid-area: Image3; }
  
  .Text1 { grid-area: Text1; }
  
  .Text2 { grid-area: Text2; }
  
  .Text3 { grid-area: Text3; }
  
  .Image4 { grid-area: Image4; }
  
  .Image5 { grid-area: Image5; }
  
  .Image6 { grid-area: Image6; }
  
  .Text4 { grid-area: Text4; }
  
  .Text5 { grid-area: Text5; }
  
  .Text6 { grid-area: Text6; }
  
  .Image7 { grid-area: Image7; }
  
  .Image8 { grid-area: Image8; }
  
  .Image9 { grid-area: Image9; }
  
  .Text7 { grid-area: Text7; }
  
  .Text8 { grid-area: Text8; }
  
  .Text9 { grid-area: Text9; }

  .Under8 { grid-area: Under8; }
  
  .Footer { grid-area: Footer;
  background-color:#F2D096  }
  
  .Header { grid-area: Header; }
  